@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --primary-font: "Montserrat", sans-serif;
    --primary-font-color: rgb(66, 66, 66);
    --primary-color: #5dcd78;
    --border-radius-rounded: 50%;
}

* {
    font-family: var(--primary-font);
}

/** Additional Bootstrap Overrides **/ 

.w-md-50-custom {
    width: 50%;
}

.btn-custom-primary {
    background-color: var(--primary-color) !important;
    color: #fff !important;
    border-radius: 0 !important;
    font-weight: bold !important;
}

.bg-dark {
    background-color: #000 !important;
    color: #fff !important;
}


/**Header Styles**/ 

.active-category {
    border-bottom: 2px solid var(--primary-color);
    color: var(--primary-color) !important;
    text-shadow: unset !important;
}

.header li {
    font-weight: bold !important;
    color: var(--primary-font-color);
    cursor: pointer;
    line-height: 3.5rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.header .icons i {
    font-size: 30px;
    cursor: pointer;
}

.header .icons .bi-cart {
    font-size: 25px !important;
    position: relative;
    z-index: 1060;
}

.header .icons .bi-bag-heart-fill {
    color: var(--primary-color);
}

.header .icons .cart-count {
    font-size: 10px;
    border-radius: 50% !important;
    padding: 4px 7px;
    z-index: 1050;
}

.header .icons {
    display: inline-flex !important;
    align-items: center !important;
    white-space: nowrap !important;
  }
  
/** Homepage Styles **/

.page-title {
    color: var(--primary-font-color);
    font-weight: 400 !important;
}

.home .item {
    cursor: pointer;
}

.home .item img {
    height: 350px !important;
}

.home .img-overlay-hover {
  border-radius: 0;
  border: 0;
  transition: box-shadow 0.5s ease, transform 0.3s ease;
  position: relative;
  overflow: hidden;
}

.home .img-overlay-hover:hover {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.3);
}

.add-to-cart-btn-overlay {
  position: absolute;
  bottom: 50px;
  right: 12px;
  border-radius: 50px !important;
  padding: 8px 14px !important;
  font-size: 1.2rem !important;
  opacity: 0;
  visibility: hidden;
  font-weight: bold;
  background: var(--primary-color) !important;
  border: 0 !important;
  transition: opacity 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  z-index: 3;
}

.img-overlay-hover:hover .add-to-cart-btn-overlay {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}



.product-name {
    color: rgb(121, 121, 121);
    font-size: 18px;
}

.product-name span {
    color: #1a1a1a !important;
    font-size: 16px !important;
}

/** Single Product Styles **/

.single-product .sizes .size {
    padding: 10px 20px;
    border: 1px solid #000;
    cursor: pointer;
}

.size-active-selected {
    background-color: #000;
    color: #fff;
}


.color {
    padding: 25px;
    border: 0;
    cursor: pointer;
}

.single-product .price {
    font-size: 22px;
}

.single-product .row {
    align-items: stretch;
}

.product-full-preview img{
    cursor: pointer;
    
}

.product-container {
    display: flex;
    align-items: stretch;
}

.thumbnail-container {
    height: 100%;
}

.thumbnail-container .row {
    height: 100%;
}

.thumbnail-img {
    height: 100%;
    object-fit: cover;
}

.product-full-preview {
    height: 100%;
}

.color-active-selected {
    border: 3px solid var(--primary-color) !important;
}

.single-product .thumbnail-img {
    cursor: pointer;
    height: 80px;
    width: 80px;
    margin:5px;
}

/** Cart Overlay **/

.cart-overlay-container {
    top: -50px;
    width: 400px;
    z-index: 1050;
}

.cart-overlay-product-preview-container img {
    max-height: 60px;
    object-fit: cover;
}

.cart-action .plus {
    border: 1px solid #000;
    padding: 0 9px;
}

.cart-action .minus {
    border: 1px solid #000;
    padding: 0 10px;
}

.sizes .size {
    padding: 3px 7px;
    cursor: pointer;
    border: 1px solid #000;
}

.colors .color {
    padding: 15px 15px;
    border: 0;
    cursor: pointer;
}   

.cart-overlay-container .plus:hover,
.cart-overlay-container .minus:hover  {
    background-color: #000 !important;
}

.cart-overlay-container .plus, 
.cart-overlay-container .minus {
    border-radius: 0 !important;
    border: #000 solid 1px !important;
}

.cart-overlay-container .badge {
    border-radius: 0 !important;
}

.attributes {
    margin-top: -20px !important;
}

/** Cart Overlay On Cart Icon Click **/ 

.darken-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1040;
}